#root{
    margin-left: 50px;
    margin-right: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.header-logo{
    width: 100px;
    height: 100px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

.res-container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 20px;
}

.res-card{
    border: 2px solid black;
    width:fit-content;
    padding: 10px;
}

.res-logo{
    width: 200px;
    height: 150px;
}

.search{
    margin: 20px;
    display: flex;
    justify-content: center;
}